<div class="d-flex flex-column p-3" style="width: 250px; min-height: calc(100vh - 56px);">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link text-dark fw-medium mb-1">Dashboard</a>
    </li>
    <li>
      <a routerLink="/products" routerLinkActive="active" class="nav-link text-dark fw-medium mb-1">Products</a>
    </li>
    <li>
      <a routerLink="/depots" routerLinkActive="active" class="nav-link text-dark fw-medium mb-1">Depots</a>
    </li>
    <li>
      <a routerLink="/etageres" routerLinkActive="active" class="nav-link text-dark fw-medium mb-1">Etageres</a>
    </li>
    <li>
      <a routerLink="/transfer" routerLinkActive="active" class="nav-link text-dark fw-medium mb-1">Transfers</a>
    </li>
    <li>
      <a routerLink="/users" routerLinkActive="active" class="nav-link text-dark fw-medium mb-1">Users</a>
    </li>
  </ul>
</div>
