<div class="d-flex flex-column p-3" style="width: 250px; min-height: calc(100vh - 56px);">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/home" routerLinkActive="active" class="nav-link text-dark fw-medium mb-1">🏠 Home</a>
    </li>
    <li>
      <a routerLink="/stock" routerLinkActive="active" class="nav-link text-dark fw-medium mb-1">📦 Stock</a>
    </li>
    <li>
      <a routerLink="/alerts" routerLinkActive="active" class="nav-link text-dark fw-medium mb-1">⚠️ Alerts</a>
    </li>
    <li>
      <a routerLink="/etat" routerLinkActive="active" class="nav-link text-dark fw-medium mb-1">📊 Etat</a>
    </li>
    <li>
      <a routerLink="/live-camera" routerLinkActive="active" class="nav-link text-dark fw-medium mb-1">📹 Live Camera</a>
    </li>
    <li>
      <a routerLink="/account" routerLinkActive="active" class="nav-link text-dark fw-medium mb-1">👤 Account</a>
    </li>
  </ul>
</div>
